
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        <input type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Home") + "'");" />

    </div>
</body>
</html>
