@model  ProductManagementSystem.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 

        <form method="post">
            <h1>Registration Form</h1>
           <h2>Name: <input id="Name" name="Name"  type="text" /></h2>
            <h2>Password:<input id="pass" name="pass" type="password" /></h2>
            <input type="submit" value="Register"/>
        </form>
            </div>
</body>
</html>
