@model IEnumerable<ProductManagementSystem.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div> 
        <form>
            <input type="text" name="SearchTerm"/>
            <input type="submit" value="Search"/> 
        </form>

        <table cellpadding="2" cellspacing="2" border="1" align="center">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.product_id</td>
                        <td>@item.product_name</td>
                        <td>@item.product_price</td>
                        <td align="center">@Html.ActionLink("Delete", "DeletetheProduct", "Admin",new { id=item.product_id},null)</td>
                    </tr>
                }

            </tbody>
        </table>



    </div>
</body>
</html>
