@model ProductManagementSystem.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div> 
        <form method="post">
            Product Name  :  <input type="text"  name="product_name"/>
            Product Price : <input type="number" name="product_price"/>
            <div>
                <input type="submit"/>
            </div>
        </form>

    </div>
</body>
</html>
